{% load notebook_extras %}

{% if field == 'transcription' %}
<textarea id="editing" style="width:100%" name="transcription" 
	placeholder="Transcription" rows="20"  class="editfield">{% if page.transcription %}{{page.transcription}}{% endif %}</textarea>
{% elif field == 'description' %}
<textarea id="editing" style="width:100%" name="description"
	placeholder="Comment" rows="12"  class="editfield">{% if page.description %}{{ page.description}}{% endif %}</textarea>
{% else %}
{{ form.css }}
<input id="editing" class="showfield" name="tags"
	value = "{{ page.tags | render_tags }}">
{% endif %}

<div id="end-editing" style="padding-top: 10px; width: 100%; display:flex; flex-flow: row nowrap; justify-content: space-around"
    hx-swap="outerHTML" 
    hx-target="#editing"
    hx-include="#editing"
    hx-on:htmx:before-request='this.ownerDocument.getElementById("end-editing").remove()'>
<div style="cursor:pointer"  
    hx-post="/savefield/?page={{page.id}}&field={{field}}&save=No" >❌</div>
<div  style="cursor:pointer; font-size: 1.1em;" 
    hx-post="/savefield/?page={{page.id}}&field={{field}}&save=Yes"">✅</div>
</div>