{% load notebook_extras %}

{% if field == 'seq_num'%}
<input id="SS{{scan.id}}"  hx-swap="outerHTML" type="number" hx-get="/showfield/?scan={{scan.id}}&field=seq_num" hx-target="this" value= "
    {% if scan.seq_num %}
        {{ scan.seq_num }}
    {% else %}
        No Sequence
    {% endif %}
">
{% elif field == 'transcription'%}
<textarea name="transciption" hx-trigger="keyup[event.key === 'Escape']" 
    hx-swap="outerHTML" 
    hx-post="/savefield/?scan={{scan.id}}&field=transcription" 
    rows="12" cols="50" 
    hx-target="this"
class="editfield">{% if scan.transcription %}{{ scan.transcription}}{% else %}No transcription{% endif %}</textarea>
{% else %}
<textarea name="description" hx-trigger="keyup[event.key === 'Escape']" 
    hx-swap="outerHTML" 
    hx-post="/savefield/?scan={{scan.id}}&field=description" 
    rows="12" cols="50" 
    hx-target="this"
   class="editfield">{% if scan.description %}{{ scan.description}}{% else %}No Comment{% endif %}</textarea>
{% endif %}
