{% load notebook_extras %}

{% if field == 'seq_num'%}
<input class="sequence" name="seq_num"  hx-swap="outerHTML" type="number" hx-get="/showfield/?scan={{scan.id}}&field=seq_num" 
    hx-target="this"  hx-trigger="keyup[event.key === 'Escape']" value= "{{ scan.seq_num }}">
{% elif field == 'transcription'%}
<textarea name="transcription" placeholder="Transcription" hx-trigger="keyup[event.key === 'Escape']" 
    hx-swap="outerHTML" 
    hx-post="/savefield/?scan={{scan.id}}&field=transcription" 
    rows="12" cols="50" 
    hx-target="this"
class="editfield">{% if scan.transcription %}{{ scan.transcription}}{% endif %}</textarea>
{% else %}
<textarea name="description" placeholder="Comment" hx-trigger="keyup[event.key === 'Escape']" 
    hx-swap="outerHTML" 
    hx-post="/savefield/?scan={{scan.id}}&field=description" 
    rows="12" cols="50" 
    hx-target="this"
   class="editfield">{% if scan.description %}{{ scan.description}}{% endif %}</textarea>
{% endif %}
