{% load static %}
<div id="page-n">
    <h2>{{page.notebook.roman_numeral}}{{page.name}}</h2>

    <div id="{{page.name}}" style="display:flex; flex-direction:row; column-gap: 40px" >

        <div class="read-only">
            <div>
                <div  class="field-title">Index</div>
                {% include "partials/showfield.html" with field="seq_num" %}
            </div>
            <div>
                <div  class="field-title">Transcription</div>
                {% include 'partials/showfield.html' with  field='transcription' %}
            </div>
            <div  >
                <div  class="field-title">Comment</div>
                {% include 'partials/showfield.html' with  field='description' %}
            </div>
        </div>
        <figure>
            <img src="{% static 'img' %}/{{page.notebook.name}}/{{page.file}}"/>
        </figure>
    </div>
</div>
