{% load static %}

<div>
    <h2>{{scan.notebook.roman_numeral}}.{{scan.name}}</h2>

    <div id="{{scan.name}}" style="display:flex; flex-direction:row; column-gap: 40px" >

        <div class="read-only">
            <div>
                <div  class="field-title">Sequence</div>
                {% include "partials/showfield.html" with field="seq_num" %}
            </div>
            <div>
                <div  class="field-title">Transcription</div>
                {% include 'partials/showfield.html' with  field='transcription' %}
            </div>
            <div  >
                <div  class="field-title">Comment</div>
                {% include 'partials/showfield.html' with  field='description' %}
            </div>
        </div>
        <figure>
            <img src="{% static 'img' %}/{{scan.notebook.name}}/{{scan.file}}"/>
        </figure>
    </div>
</div>
