{# All roads lead to this representation of a single record #}
{% load static %}

<div id="page-{{page.name}}">
    <h2>{{page.notebook.roman_numeral}}{{page.name}}</h2>

    <div id="{{page.name}}" style="display:flex; flex-direction:row; flex-wrap:wrap; column-gap: 40px" >

        <div class="read-only">
            <div>
                <div  class="field-title">Transcription</div>
                {% include 'partials/showfield.html' with  field='transcription' %}
            </div>
            <div>
                <div  class="field-title">Note</div>
                {% include 'partials/showfield.html' with  field='description' %}
            </div>
            <div>
                <div class="field-title" >Tags</div>
                <form  method="POST" id="tags">
                    {% csrf_token %}
                    {{ form.as_p }}
                <table style="display: none">
                    {{ view.formset.empty_form }}
                </table>

                <table>
                    {{ view.formset }}
                </table>
                </form>
                {{ form.media.js }}
            </div>
        </div>
        <figure>
            <img  src="{% static 'img' %}/{{page.notebook.name}}/{{page.file}}"/>
        </figure>

    </div>
</div>
