{% load static %}
<!doctype html>
<html lang="en">
<head>
  <title>
    {% block title %}CFMulks Notebooks{% endblock %}
  </title>
  <link rel="stylesheet" type="text/css" href="{% static 'css' %}/styles.css">
  <script src="{% static 'js' %}/script.js"></script>
</head>
    {% block header %}
    <header>
    <nav>
    {% block nav %}
    
        {% if user.is_authenticated %}
            <a style="order: 1" href='/admin'>Admin</a>
            <form id="logout-form" style="order: 2" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit"
                    style="color: white; background: none; border: none; cursor: pointer;
                        text-decoration: none; font-family: inherit">
                    Logout
                </button>
            </form>
            <div style="order: 10; flex: 1 1 0; text-align: right; display: inline-block">{{user.first_name}} {{user.last_name}}</div>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    {% endblock nav%}
    </nav>
     </header>
    {% endblock header %}
</header>
<body>
<div id="content">
  {% block content %}
  {% endblock content %}
</div>
{% block  footer %}
{% endblock  %}
</body>
</html>