{% extends "Notebooks/base.html" %}
{% load static %}

{% block style %}
<style>
    body{max-width:800px; margin-left:auto; margin-right:auto;}
    p {margin-block-start:0;margin-block-end:0;text-indent:2em}
    p:first-child{text-indent:0}
</style>
{% endblock style %}
{% block content %}
<h1>Biographical Sketch by Jane Vaughn</h1>
<div>
<p>Charles Freer Mulks lived seventy years from 1837 to 1907 in Tompkins County and more particularly in Slaterville Springs, which his pioneer forefathers helped settle. He was the seventh child of David Mulks and Delilah Ellis (daughter of Dryden pioneer, Peleg Ellis). Mulks and was the great-grandson of Benoni Mulks, the Caroline millwright and a first settler.</p>
<p>There was no joy to greet the infant boy in that country home in December 1837 for his mother died an hour after his birth.  "Little Charlie," as he was called, was taken by his father's sister and her husband, Magdalena and Richard Freer, to bring up as their own. The Freers soon after emigrated further west to Wales, New York, where their foster son received all of his schooling. His Aunt Maggie, as she was called, died in 1844. Seven-year-old Charles had a foster stepmother the next year and soon sisters and brothers in the Freer family.</p>
<p>In 1852 at fifteen years of age, Charles returned to Slaterville. For the large part of his life, he would call his father's place home, living there off and on. David Mulks had remarried and there was a half sister as well as one older brother in the family circle. Soon another half sister to Charles named Kate was born. She was a cherished sister and concerned friend to Charles all of his life. Kate married W.R. Gunderman, a prominent citizen of Danby and Ithaca. </p>
<p>In his twentieth year Charles started a faithfully kept daily diary. These notebooks, thirty-five in number, are nearly all small in size, soft covers, hard covers, a few fine leather books, and have been preserved in the Middaugh family. C.F.M.'s script is clear and easily read today. There are no diaries for some of the early years and the first (1856 to 1862) seems to be copied and parts only of his autobiography. Obviously C.F.M. liked to write. He did it well. His diaries tell us much about himself as well as giving us a picture of the time and place in which he lived. His notebooks are filled with bits of verse, philosophy, references to books, copies of old records, news clippings and stories about his neighbors and family.</p>
<p>C.F.M. never married; he never owned a home, or even furnishings for a room in a home; and he never owned a horse and a conveyance of any kind. Apparently, in his young-manhood, he felt that he owned livestock on his father's small farm, but was denied control in disposing of the animals. He was handicapped in a major way with a hearing loss, but he refers only a few times to his deafness.</p>
<p>The only way to earn the living he must have was as a hired man to local farmers, and this he did for many of the years of his life. For twelve years he worked in a tannery at Center Lisle. He was a frugal man, seldom spending any of his meager earnings. In time he had savings, and persons came to him to borrow money. In December 1870 he lists an "Inventory of Assets" at $1,302. Promissory notes from five individuals, with interest due, are listed. He have been a compassionate, loving man to willingly loan others as generously as his accounts indicate. Of the $1,302 only $151 was listed as a Savings Bank balance. My guess is that C.F.M. simply did not place a high value on things. He did love people, his brothers and sisters, friends and neighbors.</p>
<p>He had a great interest in history and in the story of the settling of his home country. His spare time must have been used in reading (public library books) and in writing. He wrote local news for the Ithaca papers and kept clippings in scrapbooks of all he wrote. Special acknowledgment was made by the author, George F. Goodrich, for his painstaking research in the preparation of "The Centennial History of the Town of Dryden 1797-1897".</p>
<p>About 1890 C.F.M. went to Ithaca to live and stayed there for the rest of his life. Home was a rented room, usually in a State Street block. He tells of having dinner at nearby restaurants, but other meals he must have managed in his room. Having walked great distances when necessary all of his life, he continued to walk out in any and all kinds of weather.</p>
<p>His brother, Chauncey, lived in Syracuse and the two lone men spent much time together, happily, in their later years. Chauncey left a good-sized estate in 1903, and with his legacy, Charles was able to make a grand tour west, visiting relatives and staying several months in California. He returned via Washington, D.C. and New York City. These were not his first travels, however. In the 1870's he went to Ohio, Illinois and Wisconsin to visit his brothers and cousins there. And in 1893 he went with his brother and a group from Ithaca to visit the World's Fair in Chicago.</p>
<p>Charles Freer Mulks showed a keen interest in and curiosity about the world he lived in and left for others a record of that life he knew. More! He passed on to later generations the stories of places and people which would otherwise have been lost. His writings are now greatly valued and provide an accepted status unknown to him in his lifetime.</p>
</div>
<h2>Notes</h2>
<div>
<p>What I have written is based solely on the careful reading of C.F. M.'s writings.</p>
<figure>
    <img  src={% static "/img/1853C+D+Mulks.jpeg" %} />
    <figcaption>Detail from 1853 map showing homes of Charles and David Mulks</figcaption>
</figure>
<p>The Middaugh family was related to Charles F. Mulks in two ways: (1) Mary Helen Middaugh (1863-1937) married a half brother, Omar D. Mulks, and lived all of her married life in the Slaterville David (C.F.M.'s father) Mulks homestead. [This is, in 1975, a red frame house opposite the "Red & White" store at the corner of Rt. 79 and the Creamery Road.] (2) C.F.M.'s mother was an Ellis and the great-aunt of Mrs. John Middaugh who lived her married life in the home built by Benoni and Charles Mulks at Slaterville. [This is the adjoining property west of David Mulks' homestead.]</p>
<p>To clarify the place of C.F.M. in the Mulks family, I include a brief outline of his genealogy.</p>
<ul>
<li>I Benoni Mulks b. Orange County 1742, d. Slaterville 1832.
<ul>
<li>mar. Nancy Denniston (1731-1817).</li>
<li>Their children, all born in Ulster Co., were:</li>
<li>Moses (1770-1848) lived most of his life in Ulster County.</li>
<li>Elizabeth (1774–) mar. Daniel Newkirk, went west in 1826.</li>
<li>Charles (1776-1855) pioneer and successful farmer in Slaterville.</li>
<li>John (1779-1864) went west in 1826.</li>
</ul>
</li>
<li>II Moses Mulks, first child, b. Ulster County 1770. d. 1848 Slaterville.
<ul>
<li>mar. Katy  Whittaker Minklaer</li>
<li>Children, all born in Ulster County, were:</li>
<li>Benoni, 2nd. (1795-1852) lived in Town of Caroline.</li>
<li>David (1797-1864) lived in Town of Caroline.</li>
<li>Nancy (1799- ) stayed in Ulster County.</li>
<li>Jane (1801-1867) went west.</li>
<li>Moses, 2nd. (1803-1888) successful merchant in Kingston, N.Y.</li>
<li>Magdalena (1805-1844)</li>
</li>
</ul>
<li>III David Mulks b. 1797 Ulster County.
<ul>
<li>mar. lst. Delilah Ellis (1801-1837) in Dryden.</li>
<li>Children, all born Slaterville Springs, were:</li>
<li>Chauncey (1823-1903) lived in Syracuse.</li>
<li>Franklin (1825-1871) went west.</li>
<li>Ruth (1827)went west.</li>
<li>Washington (1829- ) went west.</li>
<li>Henry (1832-1853)</li>
<li>Omar (1834-1855)</li>
<li>Charles Freer (1837-1907)</li>
<li>mar. 2nd. Maria McPherson.</li>
<li>Children, all born in Slaterville, were:</li>
<li>Mary Helen (1842-1868) mar. Slater.</li>
<li>Kate (1854-1911) mar. W.G. Gunderman.</li>
<li>Omar D. (1861-1915) mar. Mary H. Middaugh.</li>
</ul>
</li>
</ul>
The only Mulks now living in Ithaca area that I know of are
descended from Benoni, 2nd., who was a brother of C.F.M.'s father.
<ul style="list-style-type:none">
<li>(Mrs. Lawrence M.)</li>
<li>Jane Palmer Middaugh Vaughan</li>
<li>19320 Frenchton Place</li>
<li>Gaithersburg, Maryland</li>
<li>Oct. 1975</li>
</ul>
</div>
{% endblock content %}
