{# Shows records in five record blocks. Uses bottom of page navigation. #}
{% extends "Notebooks/base.html" %}
{% load static %}
{% block head %}
{{ block.super }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link href="/static/admin/css/autocomplete.css" media="screen" rel="stylesheet">
    <link href="/static/autocomplete_light/select2.css" media="screen" rel="stylesheet">
    <link href="/static/autocomplete_light/i18n/en.js">
    {{ form.media.css }}

{% endblock head %}

{% load notebook_extras %}

{% block content %}
<script>
  // Ensure strings are quoted in the output HTML
  var notebook = "{{ notebook }}";
</script>

{% if not terms == '' %}
<div style="font-size:30px;width=100%;text-align:center;">
    Search results for "{{terms}}"
</div>
{% endif %}

{% include "partials/showpage.html" %}

    {{ block_obj.has_next|json_script:"has_next"}}
    {{ block_obj.has_previous|json_script:"has_previous"}}
    {% if block_obj.has_next %}
    {{ block_obj.next_page_number|json_script:"next_page"}}
    {% endif %}
    {% if block_obj.has_previous %}
    {{ block_obj.previous_page_number|json_script:"previous_page"}}
    {% endif %}

{% endblock content %}

{% block footer %}
<script>
    var touchstartX = 0;
    var touchendX = 0;
    var gestureZone = document.getElementById('content'); // The element you want to track

    gestureZone.addEventListener('touchstart', function(e) {
        touchstartX = e.touches[0].screenX;
    }, { once: true });

    gestureZone.addEventListener('touchend', function(e) {
        touchendX = e.changedTouches[0].screenX;
        handleGesture(e);
    }, { once: true });

    function handleGesture(event) {
        var swipeThreshold = 50; // Minimum distance for a swipe
        var diffX = touchendX - touchstartX;
        var url = "";
        if (Math.abs(diffX) > swipeThreshold) {
            has_next = JSON.parse(document.getElementById('has_next').textContent);
            has_previous = JSON.parse(document.getElementById('has_previous').textContent);
            if (diffX > 0) {
                // Swiped right
                console.log('Swiped right');
                // Call a function to handle right swipe action
                if (has_previous){ 
                    previous_page = JSON.parse(document.getElementById('previous_page').textContent);
                    url = `?page=${previous_page}&notebook=${notebook}`;
                    console.log(url);
                    window.location.href=url;
                }
            } else {
                if (has_next) {
                    next_page = JSON.parse(document.getElementById('next_page').textContent);
                    url = `?page=${next_page}&notebook=${notebook}`;
                    console.log(url);
                    window.location.href=url;
                }
            }
        }
    }


</script>

<script>
    
    $(document).on('select2:clear', function(e) {
    // Prevent the default Select2 removal behavior if you want to handle it manually
    //e.preventDefault(); 
    // Get the parent li element, which represents the selected item
    //var $selectedItem = $(this).closest('.select2-selection__clear');

    // You can access information about the removed item here,
    // for example, its text or value if stored in data attributes.
    if (confirm("Delete all tags for this page?") == true) {
        $.ajax({
            url: '{% url 'tag_post'%}', // URL of your Django view to handle tag saving
            type: 'POST',
            data: {
                'scan_id': {{page.id}},
                'clear': 'all',
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val() // Include CSRF token
            },
            success: function(response) {
                console.log('Tags cleared successfully:', response);
            },
            error: function(xhr, status, error) {
                console.error('Error clearing tags:', error);
            }
        });
    }
});


$(document).on('click', '.select2-selection__choice__remove', function(e) {
    // Prevent the default Select2 removal behavior if you want to handle it manually
    // e.preventDefault(); 

    // Get the parent li element, which represents the selected item
    var $selectedItem = $(this).closest('.select2-selection__choice');

    // You can access information about the removed item here,
    // for example, its text or value if stored in data attributes.
    var itemText = $selectedItem.text().trim().slice(1); // Get the text of the removed item
    $.ajax({
        url: '{% url 'tag_post'%}', // URL of your Django view to handle tag saving
        type: 'POST',
        data: {
            'scan_id': {{page.id}},
            'remove': itemText,
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val() // Include CSRF token
        },
        success: function(response) {
            console.log('Tags pruned successfully:', response);
        },
        error: function(xhr, status, error) {
            console.error('Error pruning tags:', error);
        }
    });

    // If you prevented the default behavior, you might need to manually
    // remove the item from the underlying <select> element or data source.
    // Example: If you have a hidden input storing IDs, you might update it here.
    // Or, if using a multi-select, you might trigger a change on the original select.
});

$(document).ready(function() {
    $('#id_tags').on('select2:select', function() {
        var selectedTags = $(this).val(); // Get an array of selected tag values
        $.ajax({
            url: '{% url 'tag_post'%}', // URL of your Django view to handle tag saving
            type: 'POST',
            data: {
                'scan_id': {{page.id}},
                'tags': selectedTags,
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val() // Include CSRF token
            },
            success: function(response) {
                console.log('Tags saved successfully:', response);
            },
            error: function(xhr, status, error) {
                console.error('Error saving tags:', error);
            }
        });
    });
});
</script>
<!-- https://realpython.com/django-pagination/ -->
<footer>

    <div style="margin: 5px 0 15px 0">
    {% if block_obj.has_previous %}
        <a href="?page=1&notebook={{notebook}}&terms={{terms}}">
            ⏮️
        </a>
        <a href="?page={{block_obj.previous_page_number}}&notebook={{notebook}}&terms={{terms}}">
            ◀️
        </a>
    {% endif%}

    <span id="jump">
        <form method="POST" action="" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="jump">
            <input type="hidden" name="notebook" value={{notebook}}>
            <input type="hidden" name="terms" value={{terms}}>
            <input  style="font-size:16px; width: 40px; text-align:right;" 
                name="block_num" min=1 max={{block_obj.paginator.num_pages}} type="number" value={{ block_obj.number}}>
        </form>    
    </span> <span style="font-size:16px">of {{block_obj.paginator.num_pages}}</span>

    {% if block_obj.has_next %}
        <a href="?page={{block_obj.next_page_number}}&notebook={{notebook}}&terms={{terms}}">
            ▶️
        </a>
        <a href="?page={{block_obj.paginator.num_pages}}&notebook={{notebook}}&terms={{terms}}">
            ⏭️
        </a>
    {% endif%}
    </div>
    <div id="ellipsis" style="margin-top: 5px">
    {% for block_number in block_range %}
        {% if block_number == block_obj.paginator.ELLIPSIS %}
            {{block_number}}
        {% else %}
             <a
                href="?page={{block_number}}&notebook={{notebook}}&terms={{terms}}"
                class="{% if block_number == block_obj.number %} current {% endif %}"
            >
                {{block_number}}
            </a>
        {% endif %}
    {% endfor %}
    </div>
</footer>

{% endblock footer%}
