{% extends "Notebooks/base.html" %}
{% block nav %}
{{block.super}}
{% endblock nav %}
{% block content %}
<h1>The Notebooks of Charles Freer Mulks</h1>
<p style="width: 800px">Charles Mulks was born 17 December in Caroline, New York and died in Ithaca, New York in 1907. His Notebooks
    and scrapbooks are housed in <a href="https://rare.library.cornell.edu/the-carl-a-kroch-library/">The Carl A. Kroch  Library</a> at Cornell University.
</p>
<ul>
    {% for nb in notebooks %}
    <li><a href="/block/{{nb.id}}/?block=1">Notebook {{nb.name}}<a></li>
    {% endfor %}
</ul>
{% endblock content %}