{% extends "Notebooks/base.html" %}
{% load static %}

{% block style %}
<style>body{max-width:800px; margin-left:auto; margin-right:auto;}</style>
{% endblock style %}
{% block content %}
<figure>
    <img style="height:600px; width:auto; margin-left:auto; margin-right:auto;" src={% static "/img/Charles_Mulks_Standing_Portrait.jpg" %} />
</figure>
<p >Charles Mulks was born 12 December 1837 in Caroline, New York and died in Ithaca, New York on 17 December 1907. His notebooks
    and scrapbooks are housed in <a href="https://rare.library.cornell.edu/the-carl-a-kroch-library/">The Carl A. Kroch  Library</a> at Cornell University.
</p>

<ul>
    {% for nb in notebooks %}
    <li><a href="/block/{{nb.id}}/?block=1">Notebook {{nb.name}}<a></li>
    {% endfor %}
</ul>

{% endblock content %}
