/* External style sheet static */

body {
    margin-bottom: 120px; 
    display:block; 
    font-family: 'Open Sans', system-ui; 
    font-size: 18px; 
    padding: 0 0px;
    max-width: 100vmax;
    line-height: 1.2em;
}
#content, header {
    padding: 10px 40px 10px 40px;
}

nav {
    font-family: inherit;
    font-size: 1.1rem;
    width:auto;
    display: flex;
    flex-flow:row nowrap; 
    justify-content:flex-start; 
    align-items:baseline; 
    column-gap: 0px;
}
nav a {
    text-decoration: none;
}
button {
    font-size: inherit;
}

h1 {
    text-align: left;
    padding-bottom: 20px;
}
footer a {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}
.current {
    pointer-events: none;
    cursor: default;     
}
#ellipsis a {
    font-size: 16px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 2em;
    height: 1em;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 3px;
}
input {
    padding: 3px 3px;
    margin-top: 3px;
    margin-bottom: 8px;
    width: 100%;
    box-sizing: border-box;  
 }

form {
    display:flex; 
    flex-flow:column nowrap;
    font-family: inherit;
    flex:  1 1 0;
 }

figure {
    text-align:center; 
    overflow-x: scroll;
    margin-inline-end: 0;
    margin-inline-start: 0;
   flex: 2 1 0px;
}

 img {
   width: 100%;
 }

.scanform {
    flex: 1 1 0;
    margin-bottom: 50px; 
    display:flex; 
    flex-flow:column nowrap; 
    justify-content:flex-start; 
    align-items:flex-start; 
}
textarea, input {
    font-size: inherit;
    margin-bottom: 15px;
}
label {
    padding-bottom: 3px;
}
footer {
    border:1px solid black; 
    background-color: white; 
    width:100%; 
    text-align: center; 
    position:fixed; 
    margin-left: -9px;
    padding: 10px 0 25px;
    bottom:0; 
 }

 form#logout-form  {
    display: block;
    flex:  0 1 0;
 }

 form#login_form {
    display: flex;
    flex-direction: column;
    width: min-content;
 }

 #login_form p {
    margin-block-end: 0px;
    margin-block-start: 0px;
    display: block;
 }

#login_form .btn.btn-dark {
    width: auto;
}