/* External style sheet static */

body {
    margin-bottom: 120px; 
    display:block; 
    font-family: 'Open Sans', system-ui; 
    font-size: 18px; 
    padding: 0 0px;
    max-width: 100vmax;
    line-height: 1.2em;
}
#content, header {
    padding: 10px 40px 10px 40px;
}

nav {
    font-family: inherit;
    font-size: 1.1rem;
    min-height: 40px;
    width:auto;
    display: flex;
    flex-flow:row nowrap; 
    justify-content:flex-start; 
    align-items:baseline; 
    column-gap: 20px;
    color: white;
    background-color: black;
    padding: 12px 20px 0px 20px;
}
nav a {
    text-decoration: none;
    color: white;
}

nav a:visited, nav #logout-form button:visited {
    color: white;
}

a.set-navigator {
    text-decoration: none;
    color:black;
    font-size: 48px;
}

button, input {
    font-size: inherit;
    font-family: inherit;
}

input.search-input {
    font-size: inherit;
    font-family: inherit;
}

h1 {
    text-align: left;
    padding-bottom: 20px;
}
footer a {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}
.current {
    pointer-events: none;
    cursor: default;     
}
#ellipsis a {
    font-size: 16px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 2em;
    height: 1em;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin: 3px;
}
form {
    display:flex; 
    flex-flow:column nowrap;
    font-family: inherit;
    flex:  1 1 0;
 }

figure {
    text-align:center; 
    overflow-x: scroll;
    margin-inline-end: 0;
    margin-inline-start: 0;
   flex: 2 1 0px;
}

table {
    width: 100%;
    padding-block-start: 0;
    padding-block-end: 1em;
}

table th {
    display: none;
}

.description {
    font-style:italic;
}

.showfield {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    white-space: pre-wrap; 
    min-height: 1.2em;
    cursor: pointer;
}

.showfield.description {
    font-style:italic
}

.sequence:empty {
    width: 100%;
    text-align: center;
}

.showfield:empty::after, .sequence:empty::after {
    content: "None";
    text-align: center;
}

.showfield h1 {
    font-size: 1.0em;
    font-weight: normal;
    line-height: calc(1lh * 1.2);
    text-align: center;
    padding: 0;
}

.sequence {
    font-family: 'Open Sans', system-ui; 
    width: 50px;
    font-size: 1em;
    text-align: right;
    min-height: 1.2em;
    cursor: default;
}

.search-hints {
    margin-block-start: 3px;
    margin-block-end: 6px;
    max-width: 800px;
}

.search-hints td {
    vertical-align: top;
    padding-bottom: 20px;
}

.search-hints td:first-child {
    padding-right: 10px;
}

.table {
  display: table; /* Makes the div act like a table */
}

.header {
  display: table-header-group; /* Makes the div act like a table header */
  font-weight: bold;
}

.rowGroup {
  display: table-row-group; /* Makes the div act like a table row group (tbody) */
}

.row {
  display: table-row; /* Makes the div act like a table row */
}

.row div:first-child {
    font-weight: bold;
    padding-right: 20px;
}

.row div:last-child {
    padding-bottom: 20px;
}

.cell {
  display: table-cell; /* Makes the div act like a table cell */
}
.jansen-ledger td:nth-of-type(2),  .jansen-ledger td:nth-of-type(3){
    text-align: center;
}

.jansen-ledger-year {
    text-align:center; 
    font-weight:bold
}

.jansen-ledger th {
    display: inline;
}

.field-title {
    font-weight: bold;
    padding-bottom: 3px;
}

textarea {
    text-align: left;
    font-size: 18px;
}

.read-only p {
    margin: 0 0 1em 0;
    line-height: 1.3em;
}

div.read-only {
    text-align: left;
    display:flex; 
    flex: 1 1 0;
    flex-flow:column nowrap;
    font-family: inherit;
    justify-content: flex-start; 
    row-gap: 15px;
}

 img {
   width: 100%;
 }

 /*
.scanform {
    flex: 1 1 0;
    margin-bottom: 50px; 
    display:flex; 
    flex-flow:column nowrap; 
    justify-content:flex-start; 
    align-items:flex-start; 
}
.scanform textarea, .scanform input {
    font-size: inherit;
    margin-bottom: 15px;
}

.scanform input {
    padding: 3px 3px;
    margin-top: 3px;
    margin-bottom: 8px;
    width: 100%;
    box-sizing: border-box;  
 }


*/

label {
    padding-bottom: 3px;
}

footer {
    border:1px solid black; 
    background-color: white; 
    width:100%; 
    text-align: center; 
    position:fixed; 
    margin-left: -9px;
    padding: 10px 0 25px;
    bottom:0; 
 }

 form#logout-form  {
    display: block;
    flex:  0 1 0;
 }

 form#login_form {
    display: flex;
    flex-direction: column;
    width: min-content;
 }

 form#login_form p {
    display: block;
    margin-block-start: 0;
 }

#login_form .btn.btn-dark {
    width: auto;
}